.divcreatugifo{
    display: flex;
    position: center;
    //border-bottom: 7px solid #572EE5;
    
   
}
.divcreatugifo::after { 
        
    content: ""; 
    width:750px; 
    height:5px;
    background-color:#572EE5; 
    position: absolute; 
    align-self: flex-end;
    left:  50px;
    top: 600px;
    
}
.contenedor{
    padding: 80px;
    border: 1px solid #572EE5;
    width: 698px;
    margin: 20px;
}
img#camara{
    width: 123px;
    height: 162px;
    align-self: center;
}
img#pelicula{
    width: 88px;
    height: 88px;

    align-self: flex-end;
}
#contenedordebotones{
    display: flex;
    justify-content: center;
   
.botoncreatugifo{
    width: 21px;
    height: 21px;
    font-family: "open-semibold";
font-size: 15px;
color: #572EE5;
text-align: center;
border: 1px solid #572EE5;
border-radius: 50%;
margin: 10px;
}
}
#comenzar{
    @extend %botones
}