@font-face {
  font-family: "open-sans";
  src: url("./fonts/OpenSans.woff");
}

@font-face {
  font-family: "open-bold";
  src: url("./fonts/OpenSans-bold.woff");
}

@font-face {
  font-family: "open-light";
  src: url("./fonts/OpenSans-light.woff");
}

@font-face {
  font-family: "open-semibold";
  src: url("./fonts/OpenSans-semibold.woff");
}

.botonvermas, #comenzar {
  margin: 70px auto 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #572EE5;
  width: 127px;
  height: 50px;
  border-radius: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "open-bold";
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

header {
  border-top: 5px solid #572EE5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  height: 95px;
  width: 100%;
  background-color: white;
}

header .logo {
  width: 59px;
  height: 59px;
  margin-left: 168px;
  margin-top: 18px;
}

header nav {
  position: inherit;
  width: 100%;
}

header nav a li:hover {
  border-bottom: 2px solid #5ED7C6;
}

header nav a li:active {
  color: #9CAFC3;
  border: none;
}

header ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  top: 20px;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 18px;
}

header ul a {
  text-decoration: none;
}

header ul nav a li:hover {
  border-bottom: 2px solid #5ED7C6;
}

header ul li {
  margin: 10px 20px;
  font-size: 13px;
  color: #572ee5;
  letter-spacing: 0;
  text-align: center;
  font-family: "open-bold";
}

header #open {
  width: 15px;
  height: 15px;
  display: none;
}

header #close {
  position: absolute;
  right: 26px;
  top: 47px;
  display: block;
}

.creatugifo {
  margin-right: 156px;
}

@media screen and (max-width: 800px) {
  header {
    display: fixed;
  }
  header #open {
    position: absolute;
    right: 26px;
    top: 47px;
    display: block;
  }
  header .logo {
    margin-left: 22px;
    margin-top: 29px;
    width: 49px;
    height: 49px;
    position: absolute;
  }
  header nav ul {
    display: none;
    top: 90px;
    right: 0;
    left: 0;
    z-index: 999;
    position: relative;
    background: rgba(87, 46, 229, 0.9);
    height: 100vh;
    width: 100vw;
  }
  header nav ul li {
    font-family: "open-bold";
    font-size: 15px;
    color: #FFFFFF;
    text-align: center;
    line-height: 60px;
  }
  header nav ul .creatugifo {
    display: none;
  }
}

.div1 {
  margin-top: 150px;
}

h1 {
  margin: auto;
  margin-top: 76px;
  text-align: center;
  font-family: "open-bold";
  font-size: 35px;
  color: #572EE5;
  text-align: center;
  line-height: 50px;
}

h1 .gifos {
  color: #50E3C2;
  font-size: 40px;
}

.ilustracion {
  display: block;
  margin: auto;
}

#buscador {
  display: block;
  text-align: center;
  margin-top: 20px;
}

#buscar {
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  border-radius: 27px;
  width: 550px;
  height: 55px;
  text-indent: 54px;
}

.imagen_buscar {
  position: relative;
  width: 20px;
  height: 20px;
  border: 0px;
  margin-top: 10px;
  margin-left: -41px;
}

h2 {
  font-family: "open-bold";
  font-size: 18px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-top: 73px;
}

p {
  font-family: "open-semibold";
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin-top: 30px;
}

#sugerencias {
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  border-radius: 27px;
  width: 550px;
  height: 55px;
  text-indent: 54px;
}

@media screen and (min-width: 800px) {
  #br1 {
    display: none;
  }
  p #br3 {
    display: none;
  }
}

#divfavorito {
  display: block;
}

img#iconfavorito {
  display: block;
  margin: auto;
}

.titulos {
  margin: auto;
}

.favoritos {
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

#grid1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 29px;
}

#grid1 .ps {
  background-color: red;
  height: 100px;
  width: 100px;
}

#divmisgifos {
  display: block;
}

#divmisgifos img#icongifos {
  display: block;
  margin: auto;
}

#divmisgifos .misgifos {
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
}

#gridmisgifos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 29px;
}

#gridmisgifos .ps {
  background-color: red;
  height: 100px;
  width: 100px;
}

.divcreatugifo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: center;
}

.divcreatugifo::after {
  content: "";
  width: 750px;
  height: 5px;
  background-color: #572EE5;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  left: 50px;
  top: 600px;
}

.contenedor {
  padding: 80px;
  border: 1px solid #572EE5;
  width: 698px;
  margin: 20px;
}

img#camara {
  width: 123px;
  height: 162px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

img#pelicula {
  width: 88px;
  height: 88px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#contenedordebotones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contenedordebotones .botoncreatugifo {
  width: 21px;
  height: 21px;
  font-family: "open-semibold";
  font-size: 15px;
  color: #572EE5;
  text-align: center;
  border: 1px solid #572EE5;
  border-radius: 50%;
  margin: 10px;
}

#div2 {
  display: none;
}

.res {
  background-color: red;
  width: 100px;
  height: 100px;
}

#contenedorderespuesta {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.contenedorvermas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vermas {
  margin: 20px 0;
  font-family: "open-bold";
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
  text-align: center;
  border: 1px solid #572EE5;
  border-radius: 25px;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 127px;
  height: 50px;
}

#resultados {
  margin: 20px;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */